<div class="modal" tabindex="-1" id="delete-list-modal-{{list.id}}" data-bs-backdrop="false">
    <div class="modal-dialog shadow-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure you want to delete {{list.name}}?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button> 
        </div>
        <div class="modal-body">
          <h5></h5>
            <form hx-post="{% url "delete_list" list.id %}" hx-target="#user-list-container" hx-swap="innerHtml">
                {% csrf_token %}
                <button class="btn btn-danger">Yes, delete it</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No! I changed my mind.</button>
            </form>
        </div>
       
      </div>
    </div>
  </div>