<div class="modal" tabindex="-1" id="delete-movie-modal-{{movie.id}}" data-bs-backdrop="false">
    <div class="modal-dialog shadow-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure you want to delete {{movie.title}}?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button> 
        </div>
        <div class="modal-body">
            <form 
                hx-post="{% url "delete_movie" list_id=user_list.id movie_id=movie.id %}"
                hx-target="#movie-container"
                hx-swap="innerHTML">
                {% csrf_token %}
                <button class="btn btn-danger">Yes, delete it</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No! I changed my mind.</button>
                    
                </form>
        </div>
       
      </div>
    </div>
  </div>